<app-bred-crumb
  [items]="[{text: 'Lançamentos'}]"
></app-bred-crumb>

<div class="row mb-4">
    <div class="col-md">
        <h1 class="h2 border-left pl-2">
            Lançamentos
        </h1>
    </div>
    <div class="col-md">
        <a routerLink="new" class="btn btn-success float-right">
            + Novo Lançamento
        </a>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="bg-primary text-light">  <!-- bg significa background -->
            <th>Lançamento</th>
            <th>Categoria</th>
            <th>Valor R$</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of resources">
            <td>
                <strong>{{entry.name}}</strong><br>
                <small class="text-success">{{entry.date}}</small><br>
                <small *ngIf="entry.description">{{entry.description}}</small>
            </td>
            <td>
                {{entry.category.name}}
            </td>
            <td>
                <strong [class.text-success]="entry.type == 'revenue'" [class.text-danger]="entry.type == 'expense'">
                    {{entry.amount}}
                </strong>
                <br>
                <span class="badge badge-ligth">{{entry.paidText}}</span>
            </td>
            <td>
                <a [routerLink]="[entry.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
                <button (click)="deleteResource(entry)" class="btn btn-outline-danger btn-sm">Excluir</button>
            </td>
        </tr>
    </tbody>
</table>
